#reactboardSDK {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1190000000
}
#initReactBoardLink {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    background-color: #008489;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHElEQVQ4T6WSLy+GURjGf9dGEXQ20QcQFAqBqjKbYJIJksQwmoAJkopiI2uY+QKSpFAEX8AuO+/u59nZ857HvNzt3H9+133OdcQ/Q3+Zt90PPAH3PQNsTwIPIbzUE8D2DrAdw6uSTn8NaAxvSDpIoBpge1TSS+lNbK8Dh1E7lpTOnegAgj4HTEv6zCG2U/46cs/AlKSPGtBY7VbSbFW03Qc8AuORW5B0mQvI9gmwliXPJS3GZnvAZtTOJK00r5gAA7HiTFY8Aq6Sz5F7AyYkvXYBQmkMuAFGsoZ3YCjOu5KShV2RuzAPXBR6vhJYUgK2AzI3qo9SNe9L2ioN1zY2bEtbpG2qGG5TbwOkR01/fRC4k7Tcpl4E/NRcqn0DDv5d+Mbt570AAAAASUVORK5CYII=");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 3px 0px inset;
}

#initReactBoardLink.open {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAgElEQVQ4T62TWQ7AIAhEZw6ph6yHpCHBpo2AJJY/Fx4MCwFARC4Ag+TQ885EpAFoJDvNWS/U+g5izhpQbShAnedFCnH/moQtJArEqTfLJHt7AFEmFiCU+AEEkHdTliIvgATiduh/gFOwugSv2uUiHrWxMo3hIFWc02E7XqbTdb4BXPuAAwbuLFUAAAAASUVORK5CYII=");
}

.selectedTrash {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #008489;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABWElEQVQ4T82TPyhGYRTGf89AFsmIhVlZyKL8KYMoi9VskNEi+fORLGbJbLUopJSPsohFmVmwkkWoo/fr3tt739z73ftN3rrLvc/5vc+55zwi55hZB/ASSDolvWaVqQ5wGdgAHiJdL7Aqaasu0MxGAfcMAeN5F3nfzoFroCqp6t4nDs3sFugvCApld5IGQuAw0NYg8F3SVQhcB9YaBFYkufpUy/8fuBKtSNx1F/AENAF7wA+wAHwD3cCz93vcKm2GLU8Cx57IAQ+AMWA6en8EXACzAXBK0kkIdBN+C4BusecD4C7gFtt32C6pVptKiplZAJyLJu87rAD7PlBSwskD9gEzGcBD4D6+vChwEWjNAH4AO2WBcU7dsoctp/Je1OEXsJ3hcAloLuvQ6d0A/nKYimiew1NgomSezyQlNeGUXQIeSwJ7JLlE1U4IbAEugcGC0BtgRNJnrP8FjFeGFSPeUN8AAAAASUVORK5CYII=")
}

.addStoraightLine {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #008489;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABr0lEQVQ4T52UzYtOcRiGr2tMmWZKUphCKbEyCxaWShYzFoQNycbOQjZWStgpH0n+ARZSYkEJKR8bO2WBhZQdxZImhFuP3tHpNO973pl7d875PVfP89z370iHkowBz3vHTqpPBpU4BHA3cA/4BKwETqvn+tUNBCbZ3uvugHoryQngELAROKLeaYO7gBeBfeqGZmGS90C9m1EfNb/1BSapTm4AU+rrFrBWUKsYVX93ApOsBt4CV9WzLdgm4A0wPZ9B83aY5CBwE1imfm0B7wNbgXXqr84dJtkD3AV2qM9asDLlgjoylMtJlgAPgFl1bws2DnwALqnnhwVOAw+BLeqrFrAish+YUGc7gUlq2VMVXGBz5Qy4XcVJtgEvenurgPfVf1OSnAFOAceA78A14DOwFngM/AB2qX+GBV4BjvcOvwPquQyqNZTG1IIOVLPDylt12dRl4DqwSq0uO9UFLMBHdU0nqXegCaxrVtdtTt+Ap2qNPbSawDSqarzDapmyIP0DJlkPHAWWAsvVisyiZJJRoFydVMeTrChHF0GrCb8UcAKoUI+oL5PM/ZoWyvwJ7PwLX2KiT7wXuWwAAAAASUVORK5CYII=")
}

#canvas-container {
    margin-bottom: 10px;
    width: 100%;
    height: 90%;
}

.canvas-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}

.rdb-top {
    padding-bottom: 10px;
    width: 100%;
    height: 90%;
}

.rdb-bottom {
    width: 100%;
    height: 10%;
    display: inline-flex;
    padding-top: 24px;
}

#reactboardForm {
    height: 100%;
}

#reactboardForm .reactboard-input {
    resize: none;
    border-radius: 0px;
    width: 95%;
    font-family: 'Noto Sans JP', sans-serif !important;
    height: 40px;
    padding: 11px 40px 11px 16px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 3px 0px inset;
    border: 1px solid rgb(225, 225, 225);
    color: rgb(0, 0, 0);
    background: rgb(250, 250, 250) none repeat scroll 0% 0%;
    -moz-appearance: none;
}

#reactboardForm .reactboard-input:focus {
    outline: none;
}

#reactboardForm .reactboard-button {
    vertical-align: middle;
    display: inline-block;
    width: 5%;
    height: 40px;
    background-color: #008489;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABk0lEQVQ4T63UP4jPcRzH8ceLIsk5DIYriXSTgSQZmERZLRaDmCQMNuQ6BspkUZwsNhmwyabIrqQYb0LCgOKtz/X7XXe/+/3uj+47fXu/39/n5/1+vV+fbyzzk2XmWRZgVZ3AKIb/C1hVG7AGEziCH1iLo0sCVtVZHMJujHTk+oC/WI/t8wKrait2oo10bIbeDfAaL3C5E7+X5HRfYFUdwEOs65zcu7umV8vv6SaSTLGmgVV1BUO4gBUDtn8Lb3G/Jz+epH0vVfUJmxawzxccxA487lO7P8mrLrDB9uHZAGjT7iWeYG+fmt9JVk+P3n2pquO4hm2d2HPcxVfcwK4BB44kmZwDbIGqaho+wkecwfkObOUAWNvy4SR/+gJndLsK53BzAW2vJ7k0s2aObaqqWeUixvB5gG2mBkoyxw2DgN/QNLyNjXjQp9OxJFd74/MBW+37JKNV1W7DKWzpAH42GyV5s1TgUJLvnYUN4x02YzJJ9y7PYg7q8CTuJPnV20FVjeNpv+5mXb0Ftrno9JJ+X4uh/gMdgHH2wR1AUQAAAABJRU5ErkJggg==")
}

#reactboardFormContainer,
.reactboard-window {
    position: fixed;
    z-index: 1200000000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 21px 4px -20px inset;
}

#reactboardFormContainer div#header-fixed {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}
#reactboardForm div#header-bk {
	background-color: rgb(255, 255, 255);
	height: 50px;
    width:100%;
}
#reactboardForm div#header {
	height: 100%;
    text-align: right;
}

#reactboardForm input {
    height: 2.4375rem
}

.canvas-container { margin:0 auto ; }
.reactboard-window button.btn-default {
    margin: 5px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: gray;
    color: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
}

.reactboard-window button.btn-primary {
    padding: 8px 16px !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    background-color: #008489 !important;
    color: #ffffff !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    font-family: var(--font-button-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;

    background: #008489 !important;
    color: #ffffff !important;
    border-color: #008489 !important;
    font-size: 0.9rem !important;
    border-radius: 5px !important;
    }
#reactboardFormContainer {
    right: 10px;
    bottom: 25px;
    display: none;
    padding: 40px 40px 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.reactboard-window {
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
}
.reactboard-window.reactboard-form {
    display: none;
    padding: 16px 8px;
}
.drawing-canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80000;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff
}
.drawing-canvas-container canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90000;
    width: 100vw;
    height: 100vh
}
#reactboardFullDiv {
    background: 0 0 !important
}
.u-hide {
    display: none !important
}
.u-disable-scrolling {
    overflow: hidden !important
}