<form id="reactboardForm">
  <div class="rdb-top">
    <div id="header-fixed">
      <div id="header-bk">
        <div id="header">
          <a id="remove" class="selectedTrash"></a>
          <a id="straightLine" class="addStoraightLine"></a>
        </div>
      </div>
    </div>
    <div id="canvas-container">
      <canvas id="canvas"></canvas>
    </div>
  </div>
  <div class="rdb-bottom">
    <input type="text" id="comment" class="reactboard-input" name="comment" placeholder="どうしましたか？"></textarea>
    <a class="btn-primary reactboard-button" onclick="rbdSdk.submitReport()"></a>
  </div>
</form>
